<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <!-- Link this file to the styles.css file in the static folder -->
    <link rel=stylesheet href="{{url_for('static',filename='styles.css') }}">
  </head>
  <body>
    <div class="content">
      <div class="header">
        <img class="header_logo" alt="site logo" src="/vagrant/images/Logo_4000px4000px.png">
        <a href="{{url_for("showCategories")}}" class="header_text">Catalogue WebApp</a>
        <div class="notification_sec">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <ul>
                {% for message in messages %}
                  <li class="notification"> {{ message }} </li>
                {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
        </div>
        <img class="login_icon" alt="avatar" src="/vagrant/images/avatar.png">
        <div class="login_text">
          {% if log_in_stat == None %}
            <a  class="login active" href={{url_for('showLogin')}} >Login</a>
          {% else %}
            <a  class="login active" href={{url_for('gdisconnect')}} >Logout</a>
          {% endif %}
        </div>
      </div>
      <div class="cat_list_sec list">
        <div class="sec_title">Categories</div>
        {% for category in categories %}
          <a class="list_item" href="{{url_for('showItems', category_id=category.id)}}">
            <img src="/vagrant/images/Logo_4000px4000px.png" alt="category image" class="list_item_logo">
            <div class="list_item_text">{{category.title}}</div>
            <!-- <a class="cat_name_edit_btn" href="{{url_for('editCategory', category_id=category.id)}}"></a> -->
            <img src="/vagrant/images/icons8-edit-100.png" alt="edit" class="list_item_btn">
            <!-- <a class="cat_name_delete_btn" href="{{url_for('deleteCategory', category_id=category.id)}}"></a> -->
            <img src="/vagrant/images/icons8-delete-100.png" alt="delete" class="list_item_btn">
          </a>
        {% endfor %}
      </div>
      <div class="item_list_sec list">
        <div class="sec_title">Latest Items</div>
        {% for item in latest_items %}
          <a class="list_item">
            <img src="/vagrant/images/Logo_4000px4000px.png" alt="item image" class="list_item_logo">
            <div class="list_item_text">{{item.title}}</div>
            <img src="/vagrant/images/icons8-edit-100.png" alt="edit" class="list_item_btn">
            <img src="/vagrant/images/icons8-delete-100.png" alt="delete" class="list_item_btn">
          </a>
        {% endfor %}
      </div>
      <div class="item_desc_sec">
        <div class="desc_box">
          <div class="sec_title">Description</div>
          <div class="desc_text">Click on an item to view its description.</div>
        </div>
      </div>
    </div>
  </body>
</html>
