<html>

  <head>
      <!-- Link this file to the styles.css file in the static folder -->
      <link rel=stylesheet type=text/css href="{{url_for('static',filename='styles.css') }}">
    </head>

  <body>

    <h1>Catalogue</h1>

    {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
          {% for message in messages %}

            <li> <strong> {{ message }} </strong> </li>

          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <a href="{{url_for('newCategory')}}">Add a new Category</a>

    {% for category in categories %}

      <h2><a href='{{url_for('showItems', category_id=category.id)}}'>{{category.title}} uid({{category.user_id}})</a></h2>

      <a href="{{url_for('editCategory', category_id=category.id)}}">Edit</a>

      {% if items and category.id == items[0].category_id %}

        {% for item in items %}


          <h3><a href='#'>{{item.title}}</a></h3>

        {% endfor %}
      {% endif %}


      </br></br>

    {% endfor %}

    </body>

</html>
