<!DOCTYPE html>
<html lang="en">
  <head>
      <!-- Link this file to the styles.css file in the static folder -->
      <link rel=stylesheet type=text/css href="{{url_for('static',filename='styles.css') }}">
    </head>
  <body>
    <header>
      <div class="flex-container vertical-centerer">
        <div  class="flex-container space-between header-content" >
          <div>
            <span>
                <h1>Catalogue App</h1>
            </span>
          </div>
          <div>
            <!-- Check if a user is logged in and show the correct button -->
            {% if log_in_stat == None %}
              <h2><a href={{url_for('showLogin')}} >LOGIN</a></h2>
            {% else %}
              <h2><a href={{url_for('gdisconnect')}} >LOGOUT</a></h2>
            {% endif %}
          </div>
        </div>
      </div>
    </header>
    <div class="notification-bar flex-container">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul> 
      {% endif %}
    {% endwith %}
    </div>
    <div class="flex-container body-content" style="background: darkred">
      <!-- The list of categories -->
      <div class="body-content-section" style="background: darkmagenta">
        <h2 class="category-card"><a href="{{url_for('newCategory')}}">Add a new Category</a></h2>
        {% for category in categories %}
          <div>
            <div class="category-card">
              <h2><a href='{{url_for('showItems', category_id=category.id)}}'>{{category.title}}</a></h2>
              <div class="category-buttons">
                <h3><a href="{{url_for('editCategory', category_id=category.id)}}">Edit</a></h3>
                <h3><a href="{{url_for('deleteCategory', category_id=category.id)}}">Delete</a></h3>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <!-- The latest items, filled in the category items list -->
      <div class="body-content-section" style="background: darkorchid">
        <ul>
          <h2>Items</h2>
          {% for item in latest_items %}
            <li class="category-card">{{item.title}}</p>
          {% endfor %}  
        </ul>
      </div>
    </div>


    </body>

</html>
