<html>

  <head>
      <meta charset="utf-8" />
      <!-- Link this file to the styles.css file in the static folder -->
      <link rel=stylesheet type=text/css href="{{url_for('static',filename='styles.css') }}">
    </head>

  <body>

    <h1>Delete an existing Item</h1>

    {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
          {% for message in messages %}

            <li> <strong> {{ message }} </strong> </li>

          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <form action="{{url_for('deleteItem', category_id=category_id, item_id=item_id)}}" method = 'POST'>

    <h2>Are you sure you want to delete the "{{item.title}}" item from the "{{category.title}} category"?</h2>

    <input type='submit' value='Confirm'>

    <button><a href="{{url_for('showItems', category_id=category_id, item_id=item.id)}}">Back</a></button>

    </body>

</html>
