<html>

  <head>
      <!-- Link this file to the styles.css file in the static folder -->
      <link rel=stylesheet type=text/css href="{{url_for('static',filename='styles.css') }}">
    </head>

  <body>

    <h1>Edit an existing Category</h1>

    {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
          {% for message in messages %}

            <li> <strong> {{ message }} </strong> </li>

          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <form action="{{url_for('editCategory', category_id=category_id)}}" method = 'POST'>

    <input type='text' size='30' name='title' placeholder='{{category.title}}'>
    <input type='submit' value='Add'>

    <button><a href="{{url_for('showCategories')}}">Home</a></button>

    </body>

</html>
