<!DOCTYPE html>
<html>

  <head>
      <meta charset="utf-8" />
      <!-- Link this file to the styles.css file in the static folder -->
      <link rel=stylesheet href="{{url_for('static',filename='styles.css') }}">
    </head>

  <body>

    <h1>Item: {{item.title}}</h1>

    {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
          {% for message in messages %}

            <li> <strong> {{ message }} </strong> </li>

          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <h2>Description:</h2>
  </br>
  <h3>{{item.description}}<h3>

    <button><a href="{{url_for('editItem', category_id=category.id, item_id=item.id) }}">Edit</a></button>

    <button><a href="{{url_for('deleteItem', category_id=category.id, item_id=item.id) }}">Delete</a></button>

    <button><a href="{{url_for('showItems', category_id=category.id)}}">Back</a></button>

    <button><a href="{{url_for('showCategories')}}">Home</a></button>

    </body>

</html>
