<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <!-- Link this file to the styles.css file in the static folder -->
    <link rel=stylesheet href="{{url_for('static',filename='styles.css') }}">
    <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
    <script>
      function start() {
        gapi.load('auth2', function() {
          auth2 = gapi.auth2.init({
            client_id: '{{client_ID}}',
            // Scopes to request in addition to 'profile' and 'email'
            //scope: 'additional_scope'
          });
        });
      }
    </script>
  <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
  <style>
    .login_content{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-auto-rows: minmax(300px,auto);
      grid-auto-columns: minmax(400px,auto);
      background-color: yellow;
      grid-gap: 1em;
      align-items: stretch;
      justify-items: stretch;
      height: minmax(500px, 800px)
    }

    .login_card{
      background-color: aquamarine;
      grid-row: 2;
      grid-column: 2;
      height: 300px;
      /* height: minmax(300px,auto) */
    }
  </style>
  </head>

  <body>
    <div class="login_content">
      <div class="login_card" style="align-self: center;justify-self: center;background-color: aqua; align-content: center;justify-content: center;">
        <img src="https://img.icons8.com/color/48/000000/google-logo.png" alt="google icon" style="overflow: hidden;padding: 10px 10px; max-width: 960px;margin: auto;justify-content: center;display: block"> 
        <button id="signinButton">Google Signin</button>
      </div>
          <!-- Show other data received from the server if the result was Successful -->
      <div id="result">
      </div>
    </div>
    <!-- Google Sign in  button -->
    <!-- <img src="/vagrant/images/icons8-google-48.png" alt="google icon"> -->
    

    <script>
      $('#signinButton').click(function() {
        // call the signInCallback function
        auth2.grantOfflineAccess().then(signInCallback);
      });
    </script>
    <!-- end of Google Sign in  button -->

    <!-- To send the authorization code to the server -->
    <script>
    function signInCallback(authResult) {
      if (authResult['code']) {
        // Hide the sign-in button now that the user is authorized, for example:
        $('#signinButton').attr('style', 'display: none');
        // Send the code to the server
        $.ajax({
          type: 'POST',
          url: '/gconnect?state={{STATE}}',
          // Always include an `X-Requested-With` header in every AJAX request,
          // to protect against CSRF attacks.
          headers: {
            'X-Requested-With': 'XMLHttpRequest'
          },
          contentType: 'application/octet-stream; charset=utf-8',
          success: function(result) {
            // Handle or verify the server response.
            $('#result').html('Login Sucessful!</br>' + result + '</br>Redirecting...')
            setTimeout(function(){
              window.location.href  = "/";
            }, 2000);
          },
          processData: false,
          data: authResult['code']
        });
      } else {
        // There was an error.
        console.log('There was an error: ' + authResult['error']);
        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
      }
    }
    </script>
    <!-- end of To send the authorization code to the server -->
  </body>
</html>
