<html>

  <head>
      <!-- Link this file to the styles.css file in the static folder -->
      <link rel=stylesheet type=text/css href="{{url_for('static',filename='styles.css') }}">
    </head>
  <body>

    <div class="header">
      <div>
          <a style="background:#eee" href="{{url_for("showCategories")}}" class="logo">Catalogue WebApp</a>
      </div>
      <div class="header-right">
          <a class="active" href={{url_for('showLogin')}} >Login</a>
      </div>
    </div>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <div class="content">
        <div class="content-left">
          <h2 class="content-section-title">Categories</h2>
          <div class="vertical-menu">
              {% for category in categories %}
              <a href='{{url_for('showItems', category_id=category.id)}}'>{{category.title}}</a>
              {% endfor %}
          </div>
        </div>

        <div class="content-right">
          <h2 class="content-section-title">Latest Items Added</h2>
          <div>
            {% for item in latest_items %}
              <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <h3>{{item.title}}</h3>
                  </div>
                  <div class="flip-card-back">
                    <h1>Description:</h1>
                    <p>{{item.title}}</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae corporis blanditiis explicabo libero optio beatae.</p>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </body>
</html>
